{% extends 'base.html' %}

{% block title %} DrawShid {% endblock %}

{% block content %}
    <div class="row grey lighten-4 no_bottom_margin">
        <div class="col s12">
            <div class="container">
                <h5 class="center">
                    GAMES
                </h5>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 30px"></div>
    <div class="row lighten-5 center-align center container">
        <div class="col s3 big_text card-panel hoverable teal lighten-4">
            Telestrations
        </div>
        <div class="col push-s1 s3 big_text card-panel hoverable red lighten-4">
            1 Player guess
        </div>
        <div class="col push-s2 s3 big_text card-panel hoverable teal lighten-4">
            1 Player draw
        </div>
    </div>
{% endblock %}